
<mat-dialog-content>
    <div class = format>
<div class = "userForm">


    <div>
        <p class = Title> EncriptedPassword </p>
        <p class = userFormItem>{{data.password}}</p>
    </div>

    <div>
        <p class = Title> Firstname </p>
        <p class = userFormItem>{{data.firstname}}</p>
    </div>

    <div>
        <p class = Title> Lastname </p>
        <p class = userFormItem>{{data.lastname}}</p>
    </div>
    <div>
        <p class = Title> Username </p>
        <p class = userFormItem>{{data.username}}</p>
    </div>

    
    <div>
        <p class = Title> Age </p>
        <p class = userFormItem>{{data.age}}</p>
    </div>


</div>

    </div>
</mat-dialog-content>


