
<div class="topnav">
    


    <div class = buttons>
    
      <a class = "button" (click) = "logout()" > <mat-icon> logout</mat-icon> </a>


    <div class = connected>
      Utilisateur - {{currentUser.username}}
    </div>



    <a class = "button" (click) = "userList()" > <mat-icon> group</mat-icon> </a>


    <a class = "button" (click) = "assosList()" > <mat-icon> business </mat-icon> </a>

    <a class = "button" (click) = "myPage()" > <mat-icon> face</mat-icon> </a>

    </div>



    
    <div class = logoDiv>
      <img class ="logo" src="/assets/images/esir.png" >
    </div>

</div>



