.userForm{

    width: 100%;

    height: 100%;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    background-color: #4545458e;

    box-sizing: border-box;

    border-radius: 5px;

    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);


    margin-top: 20px;

    margin-bottom: 20px;

    max-width: 500px;

    min-width: 300px;

    min-height: 400px;

    max-height: 500px;

    

    overflow: hidden;

    margin-bottom: 10px;   
}




.userFormItem{
    

    color: rgba(255, 255, 255, 0.591);
    margin-bottom: 10px; 

    border-radius: 10px;
    
}

.userFormItemR{

    position : auto;
   
    align-items: left;
    

    color: rgb(0, 0, 0);
    
    text-align: center;

    border-radius: 10px;
    
}


input[type=text] {
    
    border-radius: 5px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }


.registerButton{
    border-radius: 10px;
    background-color: #52a0a9;
    color: var(--navBarFontColor);

    text-align: center;
    font-size: 15px;
    padding: 10px;
    
    cursor: pointer;
    
    color: rgb(255, 255, 255);
    
    text-align: center;
    
}

.buttons{
    transform : transition 0.5s;

}

.buttons:hover {
    transform: rotate(5deg);
    transform : scale(1.1);
    transform : background-color(0.5s);
  }